@import "tailwindcss";

@layer base {
  body {
    @apply antialiased text-gray-900 bg-white;
  }
}

/* MUI Overlay Fixes */
.MuiSlider-root {
  color: #4f46e5;
}

.MuiSwitch-switchBase.Mui-checked {
  color: #4f46e5;
}

.MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
  background-color: #4f46e5;
}